# Server Configuration
PORT=3000
NODE_ENV=production

# Database Configuration
DATABASE_URL=postgresql://username:password@hostname:5432/database

# AWS Configuration
AWS_REGION=eu-north-1

# Logging
LOG_LEVEL=info

# JWT Configuration
JWT_SECRET=TOKEN
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=TOKEN
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_ROUNDS=10

# Google OAuth2
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=https://habittrackerapi.me/auth/google/callback

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379