services:
  habit-tracker-api:
    build: .
    container_name: habit-tracker-api
    network_mode: "host"
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 256M
    restart: unless-stopped
